li {
  list-style: none;
  display: inline-block;
  width: 150px;
  height: 60px;
  font-size: 20px;
}

th.user_role,
th.user_modify,
th.user_delete {
  width: 70px;
}

th.user_num,
th.user_name,
th.create_date,
th.dodify_date {
  width: 120px;
}

th.user_num {
  width: 130px;
}

th.user_id {
  width: 150px;
}

th.user_nickname {
  width: 160px;
}

th.user_email {
  width: 350px;
}

td.user_num,
td.user_id,
td.user_name,
td.user_email,
td.user_nickname,
td.user_create_date,
tu.user_modyfy_date {
  text-align: left;
}

th.user_data {
  text-align: right;
}

#check-btn {
  display: none;
}
#check-btn:checked ~ .user-detail-hided {
  display: block;
}
.user-detail-hided {
  display: none;
}
