div.cart-item {
  border: 1px solid #dad5d5;
  border-left: none;
  border-top: none;
  padding: 0;
}

div#cart-item-1 {
  border-top: 1px solid #dad5d5;
}

div.cart-book-img {
  padding: 0px;
  text-align: left;
}
div.cart-book-img img {
  width: 180px;
  height: 220px;
}

div.book-details {
  padding: 10px 10px 0px 15px;
  margin-left: -30px;
}
div.book-cart-count {
  border-left: 1px solid #dad5d5;
  padding: 0;
}

div.book-cart-quantity {
  display: flex;
  align-items: center;
  width: 145px;
  height: 44px;
  margin-top: 80px;
  border: 1px solid #dad5d5;
}

div.book-cart-quantity p {
  width: 35px;
  padding-top: 10px;
  margin-right: 10px;
}

div.book-cart-quantity button {
  width: 35px;
  color: white;
  padding: 0;
}

button#num_plus {
  margin-left: -20px;
}

button p {
  color: white;
}

button#num_minus {
  margin-left: -20px;
  margin-right: 10px;
}

p#buying-book-quantity {
  min-width: 90px;
  padding: 10px 20px 0px 10px;
  height: 35px;
  text-align: right;
}
p#buying-book-quantity text {
  text-align: right;
}

button.btn-cart-order {
  margin-left: 45px;
}
div.book-img {
  padding: 0px;
  text-align: left;
}

p.title {
  width: 120px;
  font-size: 20px;
  text-align: left;
}
p.price {
  font-size: 20px;
  width: 120px;
  text-align: right;
}

div.cart-sum-wrap .btn-cart-search {
  width: 150px;
  margin-top: 0px;
}

hr {
  margin: 12px 0px;
}

div.cart-sum-wrap {
  margin: auto !important;
}
