*,
*:after,
*:before {
  box-sizing: border-box;
}

input#main-search {
  width: 700px;
  height: 45px;
  margin: 10px 10px 0px 40px;
}
.btn-search {
  margin: 10px 0px;
  width: 60px;
  height: 45px;
}

.search__right {
  margin: auto;
  height: 70px;
}

div.fontawesome a {
  margin-left: 5px;
}

h2 {
  text-align: center;
}

button.btn-act {
  background-color: white;
  border: none;
}

.triggers button.active {
  color: #fff;
  background-color: #301fbf;
  border-color: #301fbf;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn-act:not(:disabled):not(.disabled).active,
.btn-act:not(:disabled):not(.disabled):active,
.show > .act.dropdown-toggle {
  color: black;
  background-color: white;
  border-color: #301fbf;
}
.act:not(:disabled):not(.disabled).active:focus,
.act:not(:disabled):not(.disabled):active:focus,
.show > .act.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
