div.category-list li {
  list-style: none;
}

div.category-list li a {
  display: inline-block;
  margin-bottom: 10px;
  position: relative;
  font-size: 22px;
  color: black;
}

div.category-list {
  padding: 10px;
}
